.bg-color{
    background: linear-gradient(120deg, #151853 0%, #151853 100%);
}
.bannerbtn{
  background: linear-gradient(120deg, #df4264 0%, #505add 100%);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 30px;
}